{% extends 'myApp/base.html' %}

{% block body_block %}
    <div class="jumbotron">
        <form method="post" action="{% url 'myApp:login' %}">
            {% csrf_token %}

            <label for="username">Username</label>
            <input type="text" name="username" placeholder="Enter Username">
            
            <label for="password">Password</label>
            <input type="password" name="password">

            <input type="submit" value="Log In">
        </form>
    </div>

{% endblock %}
